/*-------
RESET
-------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------
DEBUG
-------*/
.flex > *, [class^="container"]{
    border: 2px dotted black;
}

/*-------
GENERAL
-------*/
.flex{
    display: flex;
}

.container1180{
    max-width: 1180px;
}

.container800{
    max-width: 800px
}

.container1180, .container800 {
    margin: 0px auto;
}

/*-------
HEADER
-------*/
.menu{
    background-color: #ADD8E6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu > .container1180.flex > *{
    background-color: #DAA520;
    padding: 5px;
}

.login, .logo{
    width: 20%
}

nav{
    width: 60%;
    text-align: center;
}

.login{
    text-align: end;
}

/* hero--- */

.hero{
    background-color:#00008B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container800 > div{
    background-color: #EE82EE;
    min-height: 300px;
    flex-grow: 1;
}