/*-------
RESET
-------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------
DEBUG
-------*/
.flex > *, [class^="container"]{
    border: 2px dotted black;
}

.flex > .flex > *{
    border: 2px dotted white;
}

/*-------
GENERAL
-------*/
.flex{
    display: flex;
}

.container1180{
    max-width: 1180px;
}

.container800{
    max-width: 800px
}

.container1180, .container800 {
    margin: 0px auto;
}

/*-------
HEADER
-------*/
.menu{
    background-color: #ADD8E6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu > .container1180.flex > *{
    background-color: #DAA520;
    padding: 5px;
}

.login, .logo{
    width: 20%
}

nav{
    width: 60%;
    text-align: center;
}

.login{
    text-align: end;
}

/* hero--- */

.hero{
    background-color:#00008B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container800 > div{
    background-color: #EE82EE;
    min-height: 300px;
    flex-grow: 1;
}

/*-------
MAIN
-------*/
main > section:nth-child(odd){
    background-color: white;
}

main > section:nth-child(even){
    background-color: #D3D3D3;
}

main > section{
    padding-top: 30px;
    padding-bottom: 30px;
}

main div:not(.container1180){
    min-height: 400px;
}

main .container1180 > div:first-child{
    width: 60%;
    background-color: #1E90FF;
}

main .container1180 > div:last-child{
    width: 40%;
    background-color: #FFC0CB;
}

main > section:nth-child(2) div:first-child{
    order: 1;
}

/* green box */
main > section:last-child > .container1180 > div{
    background-color: #228B22;
    width: 100%;
    min-height: 1180px;
}

/*-------
FOOTER
-------*/
footer > section {
    background-color: #23272A;
}

footer > section:first-child {
    padding-top: 7px;
    padding-bottom: 30px
}

.language{
    width: 33%;
    background-color: salmon;
}

.lists {
    width: 67%;
}

.lists > div{
    width: calc(100% / 4);
    background-color: #20B2AA;
}

.lists, .language > div{
    min-height: 600px;
}

/* end part */

footer section:last-child{
    padding-top: 20px;
    border-top: 1px solid white;
}

footer section:last-child > .container1180{
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #7FFFD4;
}

footer section:last-child > .container1180 > div{
    background-color: #FFB6C1;
    padding: 1px 6px;
}